<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <%- include("./shared/head.ejs") %>
  <body>
    <table
      class="email-wrapper"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <tr>
        <td align="center">
          <table
            class="email-content"
            width="100%"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
          >
            <tr>
              <td class="email-masthead">
                <a
                  href="https://example.com"
                  class="f-fallback email-masthead_name"
                >
                  Welcome to company
                </a>
              </td>
            </tr>
            <!-- Email Body -->
            <tr>
              <td
                class="email-body"
                width="570"
                cellpadding="0"
                cellspacing="0"
              >
                <table
                  class="email-body_inner"
                  align="center"
                  width="570"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                >
                  <!-- Body content -->
                  <tr>
                    <td class="content-cell">
                      <div class="f-fallback">
                        <h1>Hi, <%= locals.name %>!</h1>
                        <p>
                          You Have Requested To Reset Your Password. Please
                          Click On The Link Below To Reset Your Password.
                        </p>
                        <!-- Action -->

                        <p>For reference, here's your link:</p>
                        <table
                          class="attributes"
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                        >
                          <tr>
                            <td class="attributes_content">
                              <table
                                width="100%"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                              >
                                <tr>
                                  <td class="attributes_item">
                                    <span class="f-fallback">
                                      <strong>Link:</strong>
                                      <a href="<%= locals.link %>"
                                        >Click here</a
                                      ></span
                                    >
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td class="attributes_item">
                              <span class="f-fallback">
                                <small
                                  >If the link is not working, please copy and
                                  paste the following URL into a new browser
                                  tab:</small
                                >
                                <br />
                                <small><%= locals.link %></small>
                              </span>
                            </td>
                          </tr>
                        </table>

                        <p>
                          If you have any questions, feel free to
                          <a href="mailto:support@@company.com"
                            >email our customer success team</a
                          >. (We're lightning quick at replying.) We also offer
                          <a href="https://www.company.com/live-chat"
                            >live chat</a
                          >
                          during business hours.
                        </p>
                        <p>Thanks, <br />company team</p>
                        <p>
                          <strong>P.S.</strong> Need immediate help getting
                          started? Check out our
                          <a href="https://www.company.com/help"
                            >help documentation</a
                          >. Or, just reply to this
                          <a href="mailto:support@company.com">email</a>, the
                          company support team is always ready to help!
                        </p>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <%- include("./shared/footer.ejs") %>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
